{% extends "base.html" %}

{% block content %}
<h2>Add New Lead</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.company.label }} {{ form.company(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-success">{{ form.submit.label }}</button>
</form>
{% endblock %}
